/**********************************
           Header Font
**********************************/
h1 {

  font-size: 1.25em;
  font-family: 'Pacifico', serif;
}

/**********************************
          Paragraph Font
**********************************/
p {

  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}