@import 'fonts';
@import 'nav';

/**********************************
       General declarations
**********************************/

html, body {

  margin: 0;
}

body {

  background: rgba(0, 255, 255, .25);
}

/**********************************
         Wrapper Spacing
**********************************/

.wrapper {

  display: table;
  margin: 0 auto;
}

/**********************************
           Text Spacing
**********************************/

.wrapper p {

  margin: 1em;
}
