/**********************************
              Navbar
**********************************/
$shadow: 0 .1em .25em rgba(0, 0, 0, .25);

nav {

  background-color: palegreen;
  height: 1.75em;
  margin: 0;
  padding: .125em 0 .675em .75em;
  border-bottom: .15em solid cadetblue;
  box-shadow: $shadow;

  h1 {
    margin: 0;
    transition: .2s ease all;
    width: 5.5em;

    &:hover {
      cursor: pointer;
      color: antiquewhite;
      text-shadow: $shadow;
    }
  }
}
