/**********************************
              Navbar
**********************************/
$shadow: 0 .1em .25em rgba(0, 0, 0, .25);
$greenish: rgba(72, 232, 168, .9);

nav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: $greenish;
  height: 1.75em;
  margin: 0;
  padding: .125em 0 .675em .75em;
  box-shadow: $shadow;
  z-index: 1000;

  h1 {
    margin: 0;
    transition: .2s ease all;
    width: 5.5em;

    &:hover {
      cursor: pointer;
      color: antiquewhite;
      text-shadow: $shadow;
    }
  }
}
