/**********************************
              Navbar
**********************************/

.wrapper ul {
  list-style: none;
  margin: 3em 0;
  padding: 0;
}

.wrapper ul li.post {
  padding: .5em 1em 2em 1em;
  margin: 1em .5em;
  background: rgb(92, 255, 144);
  border-radius: .25em;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, .25);

  .stars {
    position: absolute;
    right: 3em;
  }

  .comments {
    position: absolute;
    right: 3em;
  }

  img {
    transition: .2s ease all;
    max-width: 100%;
    max-height: 120px;
    display: table;
    margin: 1em auto;

    &:hover {
      cursor: pointer;
    }
  }

  h1, .stars, .comments {

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

}

@media (min-width: 886px) {
  .wrapper ul li.post {
    img {
      position: absolute;
      right: 8em;
      transform: translate(-1em, -4em);
    }

    p {
      max-width: 18em;
    }
  }
}